extends ../layout/layout
include ../mixins/red-buttons
 

block prepend header
    - var color = "red"

block prepend head
    - var title = "Locatie Breda"
    - var workshop = "locatieBreda" 

block buttons 
    +redButtons("breda")
    
block content
    main(class="main main--red")
        article(class="courses")
            h1(class="courses__h1") locatie Breda
            h2(class="courses__h2" id="vlinderklasBreda") de Vlinderklas
            p(class="courses__p")
                | In de 
                strong Vlinderklas
                |  gebruiken we heel veel fantasie. Het is ‘net alsof’ en daarom kan (bijna) alles! 
                |  Naast fantasie gebruiken we boeken, muziek en eigen tekeningen als inspiratiebron.

            table(class="table table--courses")
                thead
                    tr
                        th Groep&colon;
                        th Lesdag&colon;
                        th Lestijd&colon;
                        th Lesdata&colon;
                        th docent&colon;
                        th Kosten&colon;
                        th lessen&colon;
                tbody
                    tr
                        td 1 &amp; 2
                        td maandag
                        td 15.15 - 16.00
                        td
                            span 20 september (eerste les = gratis proefles)
                            span 27 september, 4 ,11, 18 oktober, 
                            span 1, 8, 15, 22, 29 november, 6 &amp; 13 december 
                            span Presentatie &amp; laaste les&colon; 13 december 
                            //- span Laatste les&colon; 30 maart
                        td Claudette Efrosina
                        td &euro; 85,00 
                            //- span bij aanmelding voor 7 januari
                            //- span &euro; 75,00
                        td 11

            h2(class="courses__h2" id="spelersklas1Breda") de Spelersklas
            p(class="courses__p")
                | In de 
                strong Spelersklas
                |  gaan we aan de slag met personages &amp; situaties uit grote en kleine verhalen. Op de
                |  spelvloer ontdek je spelenderwijs hoe je toneel speelt en samen theater kunt maken.

            table(class="table table--courses")
                thead
                    tr
                        th Groep&colon;
                        th Lesdag&colon;
                        th Lestijd&colon;
                        th Lesdata&colon;
                        th docent&colon;
                        th Kosten&colon;
                        th lessen&colon;
                tbody
                    tr
                        td 3, 4, 5 &amp; 6
                        td dinsdag
                        td 15.15 - 16.15
                        td 
                            span 21 september (eerste les = gratis proefles)
                            span 28 september, 5, 12, 19 oktober, 
                            span 2, 9, 16, 23, 30 november, 7 &amp; 14 december   
                            span Presentatie &amp; laaste les&colon; 14 december 
                            //- span Laatste les&colon; 26 november 2020
                        td Claudette Efrosina
                        td &euro; 95,00 
                            //- span bij aanmelding voor 7 januari 
                            //- span &euro; 90,00
                        td 11
            //- h2(class="courses__h2" id="spelersklas2Breda") Spelersklas 2
            //- table(class="table table--courses")
            //-     thead
            //-         tr
            //-             th Groep&colon;
            //-             th Lesdag&colon;
            //-             th Lestijd&colon;
            //-             th Lesdata&colon;
            //-             th docent&colon;
            //-             th Kosten&colon;
            //-             th lessen&colon;
            //-     tbody
            //-         tr
            //-             td 4&comma; 5 &amp; 6
            //-             td donderdag
            //-             td 16.15 - 17.15
            //-             td 
            //-                 span 10 september (eerste les = gratis proefles)
            //-                 span 17, 24 september, 1, 8, 15, 29 oktober,  
            //-                 span 5, 12, 19, 26* november (* dubbele les)   
            //-                 span Presentatie&colon; 26 november 2020
            //-                 span Laatste les&colon; 26 november 2020
            //-             td Claudette Efrosina
            //-             td &euro; 95&comma;00 
            //-                 //- span bij aanmelding voor 7 januari 
                            //- span &euro; 90&comma;00
                        td 11
            h2(class="courses__h2" id="fabriekBreda") de Fabriek
            p(class="courses__p")
                | In de 
                strong Fabriek
                |  maken we een voorstelling gebaseerd op een bestaand verhaal of verhalen die je met je medespelers hebt gemaakt, waar iedereen zijn eigen favoriete rol in speelt. 
            table(class="table table--courses")
                thead
                    tr
                        th Groep&colon;
                        th Lesdag&colon;
                        th Lestijd&colon;
                        th Lesdata&colon;
                        th docent&colon;
                        th Kosten&colon;
                        th lessen&colon;
                tbody
                    tr
                        td 6&comma; 7 &amp; 8
                        td maandag
                        td 16.15 - 17.45
                        td 
                            span 20 september  (eerste les = gratis proefles)
                            span 27 september, 4 ,11, 18 oktober,   
                            span 1, 8, 15, 22, 29 november, 6 &amp; 13 december
                            span Voorstelling&colon; 13 december voor eigen publiek (avond), 
                            span 14 december schoolvoorstelling (overdag)
                            //- span Schoolvoorstelling&colon; 15 december 2020
                            //- span Laatste les&colon; 20 april 20202
                        td Claudette Efrosina
                        td &euro; 115,00 
                            //- span bij aanmelding voor 7 januari
                            //- span  &euro; 110,00
                        td 11

            h2 Goed om te weten
            p(class="courses__p")
                ul(class="courses__list")
                    li Je hoeft niet op de leslocatie op school te zitten om mee te mogen doen!
                    li De lessen gaan alleen door bij voldoende aanmeldingen, minimaal 6 –max 12 leerlingen per groep.
                    li De Vlinderfabriek is aangesloten bij het Jeugdcultuurfonds, 
                        | mocht u zelf het cursusgeld niet kunnen betalen dan wordt dit vergoed door het Jeugdcultuurfonds. 
                        | De aanvraag kan door uw school worden verzorgd. Kijk op 
                        a(href="https://www.jeugdcultuurfonds.nl" target="_blank") www.jeugdcultuurfonds.nl
                        | voor meer informatie.
    